.signup {
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 10000;
    color: white;
    height: 100vh;
    overflow: scroll;
    transition: transform 0.5s;
    font-size: var(--p-size);
    @include medium {
        .m-col-6 {
            padding-right: var(--gutter);
        }
    }
    @include show-full-nav {
        width: calc(100% - calc(var(--nav-width) + var(--gutter));
    }
    &--open {
        transform: translateY(0);
        opacity: 1;
        @include medium {
            padding-top: var( --nav-height );
        }
        @include show-full-nav {
            padding-top: 0;
        }
    }
    &__close {
        position: absolute;
        top: var(--gutter);
        right: 0;
        left: auto;
        cursor: pointer;
        z-index: 9001;
        padding: var( --gutter );
        white-space: nowrap;
            
        img {
            width: calc( var( --nav-height ) - var( --gutter ) );
        }        
        @include medium {
            right: auto;
            left: var(--gutter);
            padding: 0;
            img {
                width: 35px;
            }
        }
    }
    &__form {
        margin-top: var(--nav-height);
        padding: var(--gutter) var(--gutter) calc(var(--gutter)*4) var(--gutter);
        background-color: black;
        min-height: 100vh;
        @include medium {
            margin-top: 0;
            padding: 0;
            padding-bottom: calc(var(--gutter)*4);
        }
    }
    p {
        padding: 0;
        margin-bottom: 1em;
        margin-right: 1em;
        text-align: left;
        line-height: 1.25;
        @include medium {
            margin-right: 0;
        }
    }
    a {
        @extend .link;
        @extend .link--black;
    }
    fieldset {
        border: none !important;
    }
    label {
        display: block;
    }
    input[type=text],
    input[type=email] {
        @extend input.input;
    }
}