{% extends "_layout" %}

{% block content %}
    
 
    
    <div class="grid grid--gutter gap-top gap-bottom-l">
        <div class="s-col-12 thanks">
            <h3>{{ globals.contactFormThankYouMessage }}</h3>
        </div>
    </div>
    	


{% endblock %}
